.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #1e1e1e;
  color: #fff;
  padding: 1.5rem 2rem;
  border-top: 3px solid #00c1d4;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 999;
}



.footer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  width: 30px;
  height: auto;
}

.footer-info p {
  margin: 0;
  font-size: 0.9rem;
}
