:host {
  display: flex;
  min-height: 100vh;
}

app-sidebar {
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 220px; /* largura da sidebar */
}

.router-container {
  flex-grow: 1;
  padding: 0;
}
